version: 2
jobs:
  build:
    machine:
      image: ubuntu-1604:202004-01
      services:
        - docker

    steps:
      - checkout
      - run:
          name: Build dev image
          command: make build-env
      - run:
          name: Build image
          command: make build
      - run:
          name: Re-tag image
          command: docker tag jarrednicholls/k8s-aws-nlb-proxy-protocol-operator $DOCKER_REPO:$CIRCLE_SHA1
      - run:
          name: Login to ECR
          command: eval $(aws ecr get-login --no-include-email --region us-east-1)
      - run:
           name: Push image to ECR
           command: docker push $DOCKER_REPO:$CIRCLE_SHA1
